################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Utube2M3u/v17
/bin
/obj
/.vs
